@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Abril+Fatface|Open+Sans:400,700');

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    line-height: 1.2em;
    background: #eae7dc;
    color: #1d1d1d;
    font-size: 14pt;
}

footer {
    padding: 2vw;
    margin-top: 5vw;
}

code {
    font-family: 'Source Code Pro', monospace;
    background:#b7b7b7;
    padding-left: .2em;
    padding-right: .2em;
}

h1, h2{
    font-family: 'Abril Fatface', cursive;
}

.summaries {
    margin-top: 9vw;
}

.title h1 {
    font-size: 9.26vw;
    padding-top: 9vw;
    line-height: 0.735em;
}

.title h2 {
    font-size: 3.95vw;
    line-height: .59em;
    margin-top: .5vw;
}

h2 {
    font-size: 2em;
    line-height: 1em;
}

.page-summary h2 {
    margin-bottom: 1em;
    margin-top: 1.6em;
}

ul {
    margin: 4vw 0vw;
}

.publication-dates {
    margin: 3vw 0;
}

time, p, article ul {
    list-style-type: circle;
    margin: 5vh 0vh;
    line-height: 2em;
    max-width: 800px;
}

time {
    margin-top: 1em;
}

article ul {
    margin: 1em 0em 1em 2em;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #b00;
}

a:active {
    color: #b00;
}

.title {
    line-height: 2.21em;
}

.title a {
    color: #222;
    text-decoration: none;
}

header {
    width: 16vw;
}

header a img {
    width: 12vw;
    border: 2vw solid #1d1d1d;
}

header a img:hover {
    border: 2vw solid #b00;
}

@media only screen and (min-width: 600px) {

    .full-column {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        float: left;
    }

}

@media only screen and (max-width: 600px) {

    .full-column, header {
        width: 85vw;
        margin-left: auto;
        margin-right: auto;
    }

    header img {
        width: 26vw;
    }

}


