{{ partial "head.html" . }}
{{ partial "header.html" . }}
<main>
  <section class="full-column">
    <span class="title">
      <h1>Jesse B. Miller</h1>
      {{ .Content }}
    </span>
    <ul class="summaries">
      {{ range .Site.RegularPages.ByDate.Reverse }}
      <li class="page-summary">
        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
        {{ partial "time.html" .Date }}
        <p>{{ .Summary }}</p>
        {{ if .Truncated }}
          <p class="readmore"><a href="{{ .Permalink }}">Read More…</a></p>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ partial "foot.html" . }}
